<a href="https://colab.research.google.com/github/gapself/machine-learning-projects/blob/main/functional_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imperative code - filtering

In [ ]:
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

def filter_values(predicate, lst):
  ret = []
  for i in lst:
    if predicate(i):
      ret.append(i)
  return ret

filtered_numbers = filter_values(lambda x: x % 2 == 0, nums)

print(filtered_numbers)

[2, 4, 6, 8, 10]

# Declarative code - using higher-order function FILTER()

In [ ]:
filtered_numbers = filter(lambda x: x % 2 == 0 , nums)
print(filtered_numbers)
print(tuple(filtered_numbers))

<filter object at 0x7e37b0301270>
(2, 4, 6, 8, 10)

# MAP () - some operation on every element of a list

In [ ]:
print(tuple(map(lambda x: x*3, nums)))

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)

# REDUCE() - calculation
- import lib!
- reduce() function **is expecting more than two input parameters!**

```
from functools import reduce
```

In [ ]:
from functools import reduce

print(reduce(lambda x,y: x+y, nums))

55

# Mapping a Filtered Collection
- multiply all even nums by 2

In [ ]:
print(tuple(map(lambda x: x*2, filter(lambda x: x % 2 == 0 , nums))))

(4, 8, 12, 16, 20)

In [ ]:
t_filtered_numbers = tuple(filtered_numbers)
print(tuple(map(lambda x: x*2, filter(lambda x: x % 2 == 0 , nums))))

(48, 12, 32, 16, 4, 40, 44, 24, 8)

# Reducing a Filtered Collection

In [ ]:
from collections import namedtuple
from functools import reduce

# Prices are in USD
menu_item = namedtuple("menu_item", ["name", "dish_type", "price"])

jsp = menu_item("Jumbo Shrimp Platter", "Appetizer", 29.95)
lc = menu_item("Lobster Cake", "Appetizer", 30.95)
scb = menu_item("Sizzling Canadian Bacon", "Appetizer", 9.95)
ccc = menu_item("Codecademy Crab Cake", "Appetizer", 32.95)
cs = menu_item("Caeser Salad", "Salad", 14.95)
mgs = menu_item("Mixed Green Salad", "Salad", 10.95)
cp = menu_item("Codecademy Potatoes", "Side", 34.95)
mp = menu_item("Mashed Potatoes", "Side", 14.95)
a = menu_item("Asparagus", "Side", 15.95)
rs = menu_item("Ribeye Steak", "Entree", 75.95)
phs = menu_item("Porter House Steak", "Entree", 131.95)
grs = menu_item("Grilled Salmon", "Entree", 36.95)

menu = (jsp, lc, scb, ccc, cs, mgs, cp, mp, a, rs, phs, grs)
entree = 0
least_expensive = 0

#find the most expensive dish that is an entree
entree = reduce(lambda x, y: x if x.price > y.price else y,
                filter(lambda x: x.dish_type == "Entree", menu))
print(entree)

#find the least expensive dish that is either a side or a salad
least_expensive = reduce(lambda x, y: x if x.price < y.price else y,
                         filter(lambda x: x.dish_type in ["Salad","Side"], menu))
print(least_expensive)

menu_item(name='Porter House Steak', dish_type='Entree', price=131.95)
menu_item(name='Mixed Green Salad', dish_type='Salad', price=10.95)

#Reducing mapped collection

In [ ]:
from functools import reduce

fruits = {"Grape":(4, 6, 2),
          "Lemon":(7, 3, 1),
          "Orange":(5, 8, 1),
          "Apple":(2, 8, 10),
          "Watermelon":(0, 9, 6)}


# find the total number of fruits sold
total_fruits = reduce(lambda x,y: x+y,
                      map(lambda x: fruits[x][0]+fruits[x][1]+fruits[x][2],fruits))

print(total_fruits)

72

# Combining all Three Higher-Order Functions

In [ ]:
from functools import reduce

costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00), "ties":(3, 14.00), "watch":(1, 145.00)}

nums = (24, 6, 7, 16, 8, 2, 3, 11, 21, 20, 22, 23, 19, 12, 1, 4, 17, 9, 25, 15)

# find the total cost of items that cost more than £150
total = reduce(lambda x,y: x+y,
               filter(lambda x: x > 150.00,
                      map(lambda x: costs[x][0]*costs[x][1],costs)))

print(total)

# find all numbers less than 10, add five to them, and find their total product
product = reduce(lambda x,y: x*y,
                 map(lambda x: x+5,
                     filter(lambda x: x<10, nums)))

print(product)

460.0
72648576

# Reading CSV File

In [ ]:
import csv
from collections import namedtuple
from functools import reduce

#store tuples from the records of the provided CSV file
tree = namedtuple('tree',['index','width','height','volume'])

with open('trees.csv', newline = '') as csvfile:
  reader = csv.reader(csvfile, delimiter=',', quotechar='|')
  next(reader) # Skip the first line in trees.csv that contains the data lablels.

  # “map” the records to tuples of type tree
  mapper = map(lambda x: tree(int(x[0]),float(x[1]),float(x[2]),float(x[3])), reader)

  trees = tuple(mapper)
  print(trees)

# Processing CSV File

In [ ]:
import csv
from collections import namedtuple
from functools import reduce

tree = namedtuple("tree", ["index", "width", "height", "volume"])

with open('trees.csv', newline = '') as csvfile:
  reader = csv.reader(csvfile, delimiter=',', quotechar='|')
  next(reader)
  mapper = map(lambda x: tree(int(x[0]), float(x[1]), int(x[2]), float(x[3])), reader)

  # data of trees that have a height greater than 75
  t = filter(lambda x: x.height > 75, mapper)
  trees = tuple(t)

  # record of the widest tree in trees
  widest = reduce(lambda x, y: x if x.width > y.width else y, trees)

# Processing JSON file
- unlike a CSV file, we cannot use an iterator when we read data from a JSON file
- we will have to work with the dict type
1. use map() to store this data as a namedtuple

In [ ]:
import json
from collections import namedtuple
from functools import reduce

city = namedtuple("city", ["name", "country", "coordinates", "continent"])

with open('cities.json') as json_file:
  data = json.load(json_file)

cities = map(lambda x: city(x["name"], x["country"], x["coordinates"], x["continent"]), data["city"])

# all cities that are on the continent of Asia
asia = tuple(filter(lambda x: x.continent=='Asia', cities))
print(asia)

# the western-most city in the asia
# the western-most country is the one where the longitude is the lowest number (minimum of city.coordinates[1])
# coordinates=[25.2048, 55.2708]
west = reduce(lambda x,y: x if x.coordinates[1] < y.coordinates[1] else y, asia)

# Code for Checkpoint 2 goes here.

print(west)